*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body{
font-family: 'Open Sans', sans-serif;
}

/* Header main */

.header-main{
 margin: 50px auto;
}




/* Header main */

.header-main{
 margin: 50px auto;
}

.only-desktop{
 display: none;
}





/* Utilietis */


/* tipography */
li{
 display: inline-block;
 text-align: right;
 padding: 0 10px;
}

/* box */

.box{
 text-align: center;
 padding: 16px;
 border: 1px solid pink;
 background-color: red;
}

.box-right{
 text-align: right;
}

/* icon */

i.fas.fa-grip-lines-vertical{
 padding-left:20px;
}
